<main class="main">
  <article class="cantidad" >
    <div class="d-flex d-none ">
        <h2 *ngFor="let items of pizza; let i=index" >  
            <span class="numM badge bg-secondary">+ {{items.canVenta}}</span> 
            <p >-{{items.nombre}}</p>
        </h2>
    </div>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th>id</th>
                <th>Cantidad</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody id="fila" >
              <tr  (click)="selectRestar(items)"  *ngFor="let items of pizza; let i=index">
                <td >{{i+1}}</td>
                <td>{{items.canVenta}}</td>
                <td>{{items.nombre}}</td>
                <td>{{items.precio}}</td>
                <td>{{items.subTotal}}</td>
              </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>total:</td>
                    <td>{{cantTotal}}</td>
                    <td></td>
                    <td></td>
                    <td>{{precioTotal}}</td>

                </tr>
            </tfoot>
          </table>
    </div>
    <div >
      <input [(ngModel)]='fecha'  type="text" name="fecha" placeholder="fecha" >
      <input [(ngModel)]='nombre'  type="text" name="nombre" placeholder="nombre">
    </div>

</article>
<section class="seleccion" >
    <div class="card M" (click)="selectSumar(items)" *ngFor="let items of pizza; let i=index" >
        <article><img class="card-img-top" src='{{items.img}}' alt="..."></article>
        <p class="name">{{items.nombre}}</p>
        <p class="price">$ {{items.precio}}</p>
    </div>
</section>


</main>


<button type="button" class="btn btn-primary mx-5  "  (click)="guardarBD()" >=> Guardar <=</button>