#fila{
    tr:nth-child(1),tr:nth-child(7),tr:nth-child(12),tr:nth-child(15){
        border-bottom: 2px dotted black;
    }
   
}

.seleccion{
    div:nth-child(1){
        font-style: oblique;
    }
    div:nth-child(2){
       color: blue;
    }
    div:nth-child(3){
        color: blue;
    }
    div:nth-child(4){
        color: blue;
    }
    div:nth-child(5){
        color: blue;
    }
    div:nth-child(6){
        color: blue;
       font-weight: bold;
    }
    div:nth-child(7){
        color: blue;
        font-weight: bold;
    }
    div:nth-child(8){
        font-weight:bold;
    }
    div:nth-child(9){
        font-weight:bold;
    }
    div:nth-child(10){
        font-weight:bold;
    }
    div:nth-child(11){
        font-weight:bold;
    }
    div:nth-child(12){
        font-weight:bold;
        color: rgb(99, 99, 99);
    }
    div:nth-child(13){
        font-family:cursive;
        color: rgb(124, 98, 255);
    }
    div:nth-child(14){
        font-family:cursive;
        color: rgb(124, 98, 255);
    }
    div:nth-child(15){
        font-family:cursive;
        color: rgb(124, 98, 255);
    }
    //------------------------
    div:nth-child(16){
        color: red;
        font-weight: bold;
    }
    div:nth-child(17){
        color: red;
        font-weight: bold;
    }

}

@media only screen and (min-width: 600px) {
    .main{
        display: flex;
    } 
}
/* ----------------------------------------------- */
.cantidad{
    div{
        justify-content: space-around;
        h2{
            border: 1px solid rgb(209, 209, 245);
            border-radius: 5px;
            padding: 5px;
            span{
                cursor: pointer;
                margin-bottom: 1em;
            }
            p{
                cursor: pointer;
            }
        }
        .table{
            tbody{
                tr:hover{
                    background-color: yellow ;
                    font-weight: 800;
                }
                .active{
                    background-color: white;
                    animation-duration: 5s;                   
                    animation-name: Active;
                    font-weight: 800;
                }
                @keyframes Active {
                    100% {background-color:rgb(255, 255, 255); }
                    75%  {background-color:rgb(248, 138, 138); }
                    50%  {background-color:rgba(250, 116, 116, 0.788); }
                    25%  {background-color:rgb(250, 52, 52); }
                    0%   {background-color:rgb(253, 3, 3); }
                
                }
                tr{
                  text-align: center;
                 
                }
            }
        }
    }


}
.seleccion{
    width: 100%;
    background-color: rgba(203, 212, 195, 0.377);
    padding-top: 0.5em;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    div{
        height: 10em;
        padding: 5px;
        border: 1px solid rgb(160, 160, 231);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        article > img{
            width: 100px;
            z-index: -1;
        }
        p{
            text-align: center;
        }
    }
    div:hover{
        background-color: rgba(255, 255, 0, 0.329);
        border: 2px solid blue;
        border-radius: 30px;
    }
}

