<main class="container-fluid mt-5 mb-5">
    <form class="pizzas" id="formulario">
        <header class="d-flex justify-content-around">
            <h2>TOTAL: <span class="total"> ...</span></h2>
            <h5>fecha <strong>10/11/2023</strong></h5>
        </header>
       <app-cardpizza></app-cardpizza>
        <footer>
            <div class="contenedor-boton ">
                <button type="submitttt" disabled>
                    Guardar
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-check" viewBox="0 0 16 16">
                        <path
                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                    </svg>
                </button>
            </div>
        </footer>
    </form>
</main>
