


.main{
    width: 100%;
}
.pizzas{
 border: 1px solid red;   
 width: 100%;
}
.cantidad{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.336);
    padding-top: 2em;
}
.cantidad > div{
    justify-content: space-around;
}
.cantidad > div > h2> span{
    width: 60px;
    padding: 10px;
}
.cantidad > div > h2> p{
    font-size: 15px;
}


/* ----------------------------------------------- */
.eleccion{
    width: 100%;
    background-color: rgba(203, 212, 195, 0.377);
    padding-top: 0.5em;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.eleccion > div{
    padding: 5px;
    border: 1px solid rgb(160, 160, 231);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.eleccion > div:hover{
    border: 1px solid blue;
    border-radius: 15px;
}
.eleccion > div > article > img{
    width: 100px;
    z-index: -1;
}
.eleccion > div > p{
    text-align: center;
}