<app-principal></app-principal>


<a href="https://codingpotions.com/introduccion-instalacion-angular?stackedNotes=angular">https://codingpotions.com/introduccion-instalacion-angular?stackedNotes=angular</a> <br>
<a href="https://codingpotions.com/angular-componentes">https://codingpotions.com/angular-componentes</a>
<br>
example: 
<a href="https://github.com/falconmasters/sheet-best/blob/master/js/app.js">https://github.com/falconmasters/sheet-best/blob/master/js/app.js</a>


<br>
material:
<a href="https://sheetbestdocs.netlify.app/#delete-delete-rows">https://sheetbestdocs.netlify.app/#delete-delete-rows</a>

<br>
localstorage
<a href="https://blog.logrocket.com/localstorage-javascript-complete-guide/">https://blog.logrocket.com/localstorage-javascript-complete-guide/</a>

<br>
observables
<a href="https://desarrolloweb.com/articulos/practica-observables-angular.html
https://github.com/midesweb/ej_facturacion_angular/blob/c240f0de34ab21341c0c85db2b85fabb8c0dab95/src/app/clientes/clientes.service.ts
">observables</a>




